.version.calli /* version checker */
{
	color: #000004;
	background-color: #6A9400;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -51px;
	padding-top: 62px;
}

#u2594-5
{
	z-index: 103;
	width: 138px;
	min-height: 38px;
	top: 18px;
	left: 50%;
	margin-left: -462px;
}

#menuu2565
{
	z-index: 46;
	width: 327px;
	top: 23px;
	left: 50%;
	margin-left: 112px;
}

#u2580
{
	width: 80px;
	min-height: 28px;
	margin-right: -10000px;
}

#u2581
{
	width: 80px;
	padding-bottom: 14px;
}

#u2581:hover
{
	margin: 0px;
}

#u2581:active
{
	margin: 0px;
}

#u2583-4
{
	width: 80px;
	min-height: 14px;
	margin-right: -10000px;
	top: 7px;
}

#u2581:hover #u2583-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2581:active #u2583-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2573
{
	width: 80px;
	min-height: 28px;
	margin-right: -10000px;
	left: 82px;
}

#u2574
{
	width: 80px;
	padding-bottom: 14px;
}

#u2581.MuseMenuActive,#u2574:hover
{
	margin: 0px;
}

#u2574:active
{
	margin: 0px;
}

#u2577-4
{
	width: 80px;
	min-height: 14px;
	margin-right: -10000px;
	top: 7px;
}

#u2581.MuseMenuActive #u2583-4,#u2574:hover #u2577-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2574:active #u2577-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2578
{
	width: 120px;
	top: 28px;
}

#u3331
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3331:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3333-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3331:hover #u3333-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u3361
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3331.MuseMenuActive,#u3361:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3363-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3331.MuseMenuActive #u3333-4,#u3361:hover #u3363-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u3354
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3361.MuseMenuActive,#u3354:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3356-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3361.MuseMenuActive #u3363-4,#u3354:hover #u3356-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u3347
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3354.MuseMenuActive,#u3347:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3349-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3354.MuseMenuActive #u3356-4,#u3347:hover #u3349-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2579,#u3330,#u3358,#u3351,#u3344,#u3337
{
	width: 120px;
}

#u3340
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3347.MuseMenuActive,#u3340:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3340.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3342-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3347.MuseMenuActive #u3349-4,#u3340:hover #u3342-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u3340.MuseMenuActive #u3342-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2566
{
	width: 80px;
	min-height: 28px;
	margin-right: -10000px;
	left: 164px;
}

#u2569
{
	width: 80px;
	padding-bottom: 14px;
}

#u2574.MuseMenuActive,#u2569:hover
{
	margin: 0px;
}

#u2569:active
{
	margin: 0px;
}

#u2572-4
{
	width: 80px;
	min-height: 14px;
	margin-right: -10000px;
	top: 7px;
}

#u2574.MuseMenuActive #u2577-4,#u2569:hover #u2572-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2569:active #u2572-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2587
{
	width: 81px;
	min-height: 28px;
	margin-right: -10000px;
	left: 246px;
}

#u2588
{
	width: 81px;
	padding-bottom: 14px;
}

#u2569.MuseMenuActive,#u2588:hover
{
	margin: 0px;
}

#u2588:active
{
	margin: 0px;
}

#u2588.MuseMenuActive
{
	margin: 0px;
}

#u2591-4
{
	width: 81px;
	min-height: 14px;
	margin-right: -10000px;
	top: 7px;
}

#u2569.MuseMenuActive #u2572-4,#u2588:hover #u2591-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2588:active #u2591-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2588.MuseMenuActive #u2591-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#pu3593
{
	width: 0.01px;
	padding-bottom: 113px;
	margin-left: -100px;
}

#u3593
{
	z-index: 7;
	border-style: none;
	border-color: transparent;
	background-color: #E6E5E5;
	padding-bottom: 422px;
}

#u3593_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u3401
{
	z-index: 8;
	width: 200px;
	height: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: -55px;
	left: 480px;
	background: transparent url("../images/calligraphybadge-u606-fr.png") no-repeat left top;
	background-size: contain;
}

#u3593-bw
{
	z-index: 7;
	height: 145px;
}

#slideshowu3470
{
	z-index: 9;
	width: 0.01px;
	height: 387px;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: 154px;
}

#u3474
{
	position: absolute;
	width: 955px;
	height: 669px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	top: -170px;
	left: 1080px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u3474popup
{
	z-index: 10;
}

#u3477
{
	z-index: 11;
	width: 911px;
	height: 607px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3477_img
{
	padding: 76px 51px 77px;
}

#u3523
{
	z-index: 13;
	width: 911px;
	height: 607px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3523_clip
{
	overflow: hidden;
	width: 911px;
	height: 607px;
}

#u3523_img
{
	margin: -38px 226px -38px 227px;
}

#u3489
{
	position: absolute;
	width: 960px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 129px;
}

#u3489popup
{
	z-index: 15;
}

#u3490
{
	z-index: 16;
	width: 304px;
	height: 258px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 171px;
}

#u3490_img
{
	padding-top: 44px;
	padding-bottom: 43px;
}

#u3526
{
	z-index: 18;
	width: 304px;
	height: 258px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 485px;
}

#u3490:hover,#u3526:hover
{
	margin: 0px -10000px 0px 0px;
}

#u3526_img
{
	padding-left: 66px;
	padding-right: 65px;
}

#u3482
{
	position: absolute;
	width: 340px;
	background-color: transparent;
	top: 466px;
	left: 1104px;
}

#u3482popup
{
	z-index: 20;
}

#u3484-4
{
	z-index: 21;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-right: -10000px;
	position: relative;
}

#u3529-4
{
	z-index: 25;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-right: -10000px;
	position: relative;
}

#u3487-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 462px;
	left: 1861px;
}

#u3487-4popup
{
	z-index: 29;
}

#u3471-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 462px;
	left: 1961px;
}

#u3471-4popup
{
	z-index: 33;
}

#u3488-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 500;
	top: 462px;
	left: 1891px;
}

#u3488-4popup
{
	z-index: 37;
}

#u3472
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -158px;
	left: 1993px;
}

#u3472:hover
{
	background-color: #999999;
	margin: 0px;
}

#u3472:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u3473-4
{
	z-index: 42;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u2562-5
{
	z-index: 2;
	width: 76px;
	min-height: 27px;
	margin-left: 22px;
	top: -92px;
	margin-bottom: -27px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

