.version.design /* version checker */
{
	color: #00000F;
	background-color: #94D07F;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 62px;
	padding-bottom: 14px;
}

#u2594-5
{
	z-index: 183;
	width: 138px;
	min-height: 38px;
	top: 18px;
	left: 50%;
	margin-left: -462px;
}

#menuu2565
{
	z-index: 126;
	width: 327px;
	top: 23px;
	left: 50%;
	margin-left: 112px;
}

#u2580
{
	width: 80px;
	min-height: 28px;
	margin-right: -10000px;
}

#u2581
{
	width: 80px;
	padding-bottom: 14px;
}

#u2581:hover
{
	margin: 0px;
}

#u2581:active
{
	margin: 0px;
}

#u2583-4
{
	width: 80px;
	min-height: 14px;
	margin-right: -10000px;
	top: 7px;
}

#u2581:hover #u2583-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2581:active #u2583-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2573
{
	width: 80px;
	min-height: 28px;
	margin-right: -10000px;
	left: 82px;
}

#u2574
{
	width: 80px;
	padding-bottom: 14px;
}

#u2581.MuseMenuActive,#u2574:hover
{
	margin: 0px;
}

#u2574:active
{
	margin: 0px;
}

#u2577-4
{
	width: 80px;
	min-height: 14px;
	margin-right: -10000px;
	top: 7px;
}

#u2581.MuseMenuActive #u2583-4,#u2574:hover #u2577-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2574:active #u2577-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2578
{
	width: 120px;
	top: 28px;
}

#u3331
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3331:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3333-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3331:hover #u3333-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u3361
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3331.MuseMenuActive,#u3361:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3363-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3331.MuseMenuActive #u3333-4,#u3361:hover #u3363-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u3354
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3361.MuseMenuActive,#u3354:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3356-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3361.MuseMenuActive #u3363-4,#u3354:hover #u3356-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u3347
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3354.MuseMenuActive,#u3347:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3349-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3354.MuseMenuActive #u3356-4,#u3347:hover #u3349-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2579,#u3330,#u3358,#u3351,#u3344,#u3337
{
	width: 120px;
}

#u3340
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3347.MuseMenuActive,#u3340:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3340.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3342-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3347.MuseMenuActive #u3349-4,#u3340:hover #u3342-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u3340.MuseMenuActive #u3342-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2566
{
	width: 80px;
	min-height: 28px;
	margin-right: -10000px;
	left: 164px;
}

#u2569
{
	width: 80px;
	padding-bottom: 14px;
}

#u2574.MuseMenuActive,#u2569:hover
{
	margin: 0px;
}

#u2569:active
{
	margin: 0px;
}

#u2572-4
{
	width: 80px;
	min-height: 14px;
	margin-right: -10000px;
	top: 7px;
}

#u2574.MuseMenuActive #u2577-4,#u2569:hover #u2572-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2569:active #u2572-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2587
{
	width: 81px;
	min-height: 28px;
	margin-right: -10000px;
	left: 246px;
}

#u2588
{
	width: 81px;
	padding-bottom: 14px;
}

#u2569.MuseMenuActive,#u2588:hover
{
	margin: 0px;
}

#u2588:active
{
	margin: 0px;
}

#u2588.MuseMenuActive
{
	margin: 0px;
}

#u2591-4
{
	width: 81px;
	min-height: 14px;
	margin-right: -10000px;
	top: 7px;
}

#u2569.MuseMenuActive #u2572-4,#u2588:hover #u2591-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2588:active #u2591-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2588.MuseMenuActive #u2591-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#pu2642
{
	width: 0.01px;
	margin-left: -100px;
}

#u2642
{
	z-index: 7;
	border-style: none;
	border-color: transparent;
	background-color: #E6E5E5;
	padding-bottom: 1153px;
}

#u2642_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u700
{
	z-index: 8;
	width: 200px;
	height: 200px;
	position: relative;
	margin-right: -10000px;
	margin-top: -55px;
	left: 480px;
	background: transparent url("../images/design_badge-u618-fr.png") no-repeat left top;
	background-size: contain;
}

#u2642-bw
{
	z-index: 7;
	height: 145px;
}

#slideshowu2261
{
	z-index: 9;
	width: 0.01px;
	height: 1070px;
	position: relative;
	margin-right: -10000px;
	margin-top: 189px;
	left: 100px;
}

#u2273
{
	position: absolute;
	width: 996px;
	height: 644px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	top: -145px;
	left: 1090px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u2273popup
{
	z-index: 10;
}

#u2426
{
	z-index: 11;
	width: 952px;
	height: 582px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2426_img
{
	margin: -33px 188px -34px 189px;
}

#u2408
{
	z-index: 13;
	width: 952px;
	height: 582px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2408_img
{
	margin: -33px 193px -34px;
}

#u2417
{
	z-index: 15;
	width: 952px;
	height: 582px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2417_img
{
	margin: -33px 194px -34px;
}

#u2604
{
	z-index: 17;
	width: 952px;
	height: 582px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2604_img
{
	padding: 105px 43px 104px;
}

#u2363
{
	z-index: 19;
	width: 952px;
	height: 582px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2363_img
{
	padding: 155px 207px;
}

#u2372
{
	z-index: 21;
	width: 952px;
	height: 582px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2372_img
{
	margin: -9px 98px;
}

#u2278
{
	z-index: 23;
	width: 952px;
	height: 582px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2278_img
{
	padding: 58px 269px;
}

#u2390
{
	z-index: 25;
	width: 952px;
	height: 582px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2390_img
{
	margin: -33px 47px -34px 48px;
}

#u2399
{
	z-index: 27;
	width: 952px;
	height: 582px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2399_img
{
	margin: -34px 141px;
}

#u3569
{
	z-index: 29;
	width: 952px;
	height: 582px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3569_img
{
	padding: 4px 32px 5px 31px;
}

#u2354
{
	z-index: 31;
	width: 952px;
	height: 582px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2426_clip,#u2408_clip,#u2417_clip,#u2372_clip,#u2390_clip,#u2399_clip,#u2354_clip
{
	overflow: hidden;
	width: 952px;
	height: 582px;
}

#u2354_img
{
	margin: -9px 101px;
}

#u2381
{
	z-index: 33;
	width: 952px;
	height: 582px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2381_img
{
	padding: 73px 134px 72px 135px;
}

#u2263
{
	position: absolute;
	width: 960px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u2263popup
{
	z-index: 35;
}

#u2429
{
	z-index: 36;
	width: 304px;
	height: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 14px;
}

#u2429_img
{
	padding-left: 37px;
	padding-right: 37px;
}

#u2411
{
	z-index: 38;
	width: 304px;
	height: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 328px;
}

#u2411_img
{
	padding-left: 39px;
	padding-right: 38px;
}

#u2420
{
	z-index: 40;
	width: 304px;
	height: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 642px;
}

#u2429:hover,#u2411:hover,#u2420:hover
{
	margin: 0px -10000px 0px 0px;
}

#u2420_img
{
	padding-left: 39px;
	padding-right: 39px;
}

#u2607
{
	z-index: 42;
	width: 304px;
	height: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 270px;
	left: 14px;
}

#u2607_img
{
	padding-top: 65px;
	padding-bottom: 64px;
}

#u2366
{
	z-index: 44;
	width: 304px;
	height: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 270px;
	left: 328px;
}

#u2366_img
{
	padding-top: 53px;
	padding-bottom: 53px;
}

#u2375
{
	z-index: 46;
	width: 304px;
	height: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 270px;
	left: 642px;
}

#u2607:hover,#u2366:hover,#u2375:hover
{
	margin: 270px -10000px 0px 0px;
}

#u2375_img
{
	padding-top: 9px;
	padding-bottom: 10px;
}

#u2266
{
	z-index: 48;
	width: 304px;
	height: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 540px;
	left: 14px;
}

#u2266_img
{
	padding-left: 36px;
	padding-right: 37px;
}

#u2393
{
	z-index: 50;
	width: 304px;
	height: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 540px;
	left: 328px;
}

#u2393_img
{
	padding-top: 15px;
	padding-bottom: 15px;
}

#u2402
{
	z-index: 52;
	width: 304px;
	height: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 540px;
	left: 642px;
}

#u2266:hover,#u2393:hover,#u2402:hover
{
	margin: 540px -10000px 0px 0px;
}

#u2402_img
{
	padding-left: 18px;
	padding-right: 18px;
}

#u3572
{
	z-index: 54;
	width: 304px;
	height: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 810px;
	left: 14px;
}

#u3572_img
{
	padding-top: 32px;
	padding-bottom: 32px;
}

#u2357
{
	z-index: 56;
	width: 304px;
	height: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 810px;
	left: 328px;
}

#u2357_img
{
	padding-top: 8px;
	padding-bottom: 9px;
}

#u2384
{
	z-index: 58;
	width: 304px;
	height: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 810px;
	left: 642px;
}

#u3572:hover,#u2357:hover,#u2384:hover
{
	margin: 810px -10000px 0px 0px;
}

#u2384_img
{
	padding-top: 33px;
	padding-bottom: 32px;
}

#u2281
{
	position: absolute;
	width: 340px;
	background-color: transparent;
	top: 466px;
	left: 1114px;
}

#u2281popup
{
	z-index: 60;
}

#u2432-4
{
	z-index: 61;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-right: -10000px;
	position: relative;
}

#u2414-4
{
	z-index: 65;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-right: -10000px;
	position: relative;
}

#u2423-4
{
	z-index: 69;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-right: -10000px;
	position: relative;
}

#u2610-4
{
	z-index: 73;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-right: -10000px;
	position: relative;
}

#u2369-4
{
	z-index: 77;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-right: -10000px;
	position: relative;
}

#u2378-4
{
	z-index: 81;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-right: -10000px;
	position: relative;
}

#u2284-4
{
	z-index: 85;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-right: -10000px;
	position: relative;
}

#u2396-4
{
	z-index: 89;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-right: -10000px;
	position: relative;
}

#u2405-4
{
	z-index: 93;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-right: -10000px;
	position: relative;
}

#u3575-4
{
	z-index: 97;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-right: -10000px;
	position: relative;
}

#u2360-4
{
	z-index: 101;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-right: -10000px;
	position: relative;
}

#u2387-4
{
	z-index: 105;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-right: -10000px;
	position: relative;
}

#u2286-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 469px;
	left: 1951px;
}

#u2286-4popup
{
	z-index: 109;
}

#u2270-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 469px;
	left: 2021px;
}

#u2270-4popup
{
	z-index: 113;
}

#u2262-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 500;
	top: 466px;
	left: 1966px;
}

#u2262-4popup
{
	z-index: 117;
}

#u2271
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -127px;
	left: 2151px;
}

#u2271:hover
{
	background-color: #999999;
	margin: 0px;
}

#u2271:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u2272-4
{
	z-index: 122;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u2562-5
{
	z-index: 2;
	width: 76px;
	min-height: 27px;
	margin-left: 22px;
	margin-top: 21px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

