#u2583-4
{
	font-family: raleway-n6, sans-serif;
}

#u2577-4
{
	font-family: raleway-n6, sans-serif;
}

#u2572-4
{
	font-family: raleway-n6, sans-serif;
}

#u2591-4
{
	font-family: raleway-n6, sans-serif;
}

#u2594,#u2562
{
	font-family: days-one-n4, sans-serif;
}

#u2594-2,#u2562-2
{
	font-family: expletus-sans-n4, sans-serif;
}

#u2432-4,#u2414-4,#u2423-4,#u2610-4,#u2369-4,#u2378-4,#u2284-4,#u2396-4,#u2405-4,#u3575-4,#u2360-4,#u2387-4,#u2262-4
{
	font-family: raleway-n5, sans-serif;
}

