#u2583-4
{
	font-family: raleway-n6, sans-serif;
}

#u2577-4
{
	font-family: raleway-n6, sans-serif;
}

#u2572-4
{
	font-family: raleway-n6, sans-serif;
}

#u2591-4
{
	font-family: raleway-n6, sans-serif;
}

#u2594,#u2562
{
	font-family: days-one-n4, sans-serif;
}

#u2594-2,#u2562-2
{
	font-family: expletus-sans-n4, sans-serif;
}

#u1985-4,#u2081-4,#u2090-4,#u2099-4,#u2108-4,#u2117-4,#u2126-4,#u2135-4,#u2144-4,#u2153-4,#u2162-4,#u2180-4,#u2189-4,#u1963-4
{
	font-family: raleway-n5, sans-serif;
}

