#u2583-4
{
	font-family: raleway-n6, sans-serif;
}

#u2577-4
{
	font-family: raleway-n6, sans-serif;
}

#u2572-4
{
	font-family: raleway-n6, sans-serif;
}

#u2591-4
{
	font-family: raleway-n6, sans-serif;
}

#u2594,#u2562
{
	font-family: days-one-n4, sans-serif;
}

#u2594-2,#u2562-2
{
	font-family: expletus-sans-n4, sans-serif;
}

#u3484-4,#u3529-4,#u3488-4
{
	font-family: raleway-n5, sans-serif;
}

