.version.typo /* version checker */
{
	color: #0000F7;
	background-color: #459503;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 62px;
	padding-bottom: 14px;
}

#u2594-5
{
	z-index: 127;
	width: 138px;
	min-height: 38px;
	top: 18px;
	left: 50%;
	margin-left: -462px;
}

#menuu2565
{
	z-index: 70;
	width: 327px;
	top: 23px;
	left: 50%;
	margin-left: 112px;
}

#u2580
{
	width: 80px;
	min-height: 28px;
	margin-right: -10000px;
}

#u2581
{
	width: 80px;
	padding-bottom: 14px;
}

#u2581:hover
{
	margin: 0px;
}

#u2581:active
{
	margin: 0px;
}

#u2583-4
{
	width: 80px;
	min-height: 14px;
	margin-right: -10000px;
	top: 7px;
}

#u2581:hover #u2583-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2581:active #u2583-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2573
{
	width: 80px;
	min-height: 28px;
	margin-right: -10000px;
	left: 82px;
}

#u2574
{
	width: 80px;
	padding-bottom: 14px;
}

#u2581.MuseMenuActive,#u2574:hover
{
	margin: 0px;
}

#u2574:active
{
	margin: 0px;
}

#u2577-4
{
	width: 80px;
	min-height: 14px;
	margin-right: -10000px;
	top: 7px;
}

#u2581.MuseMenuActive #u2583-4,#u2574:hover #u2577-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2574:active #u2577-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2578
{
	width: 120px;
	top: 28px;
}

#u3331
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3331:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3333-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3331:hover #u3333-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u3361
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3331.MuseMenuActive,#u3361:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3363-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3331.MuseMenuActive #u3333-4,#u3361:hover #u3363-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u3354
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3361.MuseMenuActive,#u3354:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3356-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3361.MuseMenuActive #u3363-4,#u3354:hover #u3356-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u3347
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3354.MuseMenuActive,#u3347:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3349-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3354.MuseMenuActive #u3356-4,#u3347:hover #u3349-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2579,#u3330,#u3358,#u3351,#u3344,#u3337
{
	width: 120px;
}

#u3340
{
	width: 118px;
	padding-bottom: 4px;
	margin-right: -10000px;
}

#u3347.MuseMenuActive,#u3340:hover
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3340.MuseMenuActive
{
	width: 118px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3342-4
{
	width: 110px;
	min-height: 13px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	margin-right: -10000px;
	top: 2px;
	left: 2px;
}

#u3347.MuseMenuActive #u3349-4,#u3340:hover #u3342-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u3340.MuseMenuActive #u3342-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 13px;
	margin: 0px -10000px 0px 0px;
}

#u2566
{
	width: 80px;
	min-height: 28px;
	margin-right: -10000px;
	left: 164px;
}

#u2569
{
	width: 80px;
	padding-bottom: 14px;
}

#u2574.MuseMenuActive,#u2569:hover
{
	margin: 0px;
}

#u2569:active
{
	margin: 0px;
}

#u2572-4
{
	width: 80px;
	min-height: 14px;
	margin-right: -10000px;
	top: 7px;
}

#u2574.MuseMenuActive #u2577-4,#u2569:hover #u2572-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2569:active #u2572-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2587
{
	width: 81px;
	min-height: 28px;
	margin-right: -10000px;
	left: 246px;
}

#u2588
{
	width: 81px;
	padding-bottom: 14px;
}

#u2569.MuseMenuActive,#u2588:hover
{
	margin: 0px;
}

#u2588:active
{
	margin: 0px;
}

#u2588.MuseMenuActive
{
	margin: 0px;
}

#u2591-4
{
	width: 81px;
	min-height: 14px;
	margin-right: -10000px;
	top: 7px;
}

#u2569.MuseMenuActive #u2572-4,#u2588:hover #u2591-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2588:active #u2591-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2588.MuseMenuActive #u2591-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#pu2685
{
	width: 0.01px;
	margin-left: -100px;
}

#u2685
{
	z-index: 7;
	border-style: none;
	border-color: transparent;
	background-color: #E6E5E5;
	padding-bottom: 654px;
}

#u2685_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u702
{
	z-index: 8;
	width: 200px;
	height: 201px;
	position: relative;
	margin-right: -10000px;
	margin-top: -59px;
	left: 480px;
	background: transparent url("../images/typobadge%20copy-u656-fr.png") no-repeat left top;
	background-size: contain;
}

#u2685-bw
{
	z-index: 7;
	height: 142px;
}

#slideshowu1878
{
	z-index: 9;
	width: 0.01px;
	height: 607px;
	position: relative;
	margin-right: -10000px;
	margin-top: 189px;
	left: 100px;
}

#u1890
{
	position: absolute;
	width: 842px;
	height: 627px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	top: -111px;
	left: 1146px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u1890popup
{
	z-index: 10;
}

#u1895
{
	z-index: 11;
	width: 798px;
	height: 565px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1895_img
{
	padding: 67px 221px 67px 222px;
}

#u1931
{
	z-index: 13;
	width: 798px;
	height: 565px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1931_img
{
	padding: 103px 284px;
}

#u3460
{
	z-index: 15;
	width: 798px;
	height: 565px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u3460_img
{
	padding-top: 92px;
	padding-bottom: 91px;
}

#u2905
{
	z-index: 17;
	width: 798px;
	height: 565px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2905_img
{
	padding-left: 191px;
	padding-right: 192px;
}

#u2914
{
	z-index: 19;
	width: 798px;
	height: 565px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2914_img
{
	padding-left: 91px;
	padding-right: 92px;
}

#u1880
{
	position: absolute;
	width: 960px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 73px;
}

#u1880popup
{
	z-index: 21;
}

#u1883
{
	z-index: 22;
	width: 304px;
	height: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: -11px;
	position: relative;
	left: 14px;
	margin: 4px -10000px -10px 36px;
}

#u1883:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: -11px -10000px -10px 36px;
}

#u1934
{
	z-index: 24;
	width: 136px;
	height: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 328px;
	padding: 24px 84px 23px;
}

#u1934:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 4px -10000px 0px 0px;
}

#u3463
{
	z-index: 26;
	width: 304px;
	height: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-top: 57px;
	padding-bottom: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 642px;
}

#u3463:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: 4px -10000px 0px 0px;
}

#u2908
{
	z-index: 28;
	width: 304px;
	height: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: -11px;
	position: relative;
	left: 14px;
	margin: 274px -10000px -10px 49px;
}

#u2908:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: -11px -10000px -10px 49px;
}

#u2917
{
	z-index: 30;
	width: 304px;
	height: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: -8px;
	position: relative;
	left: 328px;
	margin: 274px -10000px -9px 1px;
}

#u2917:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	margin: -8px -10000px -9px 1px;
}

#u1883:hover img.shadow,#u1934:hover img.shadow,#u3463:hover img.shadow,#u2908:hover img.shadow,#u2917:hover img.shadow
{
	-pie-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#u1883_clip,#u2908_clip,#u2917_clip
{
	overflow: hidden;
	width: 304px;
	height: 260px;
}

#u1898
{
	position: absolute;
	width: 340px;
	background-color: transparent;
	top: 477px;
	left: 1200px;
}

#u1898popup
{
	z-index: 32;
}

#u1901-4
{
	z-index: 33;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-right: -10000px;
	position: relative;
}

#u1937-4
{
	z-index: 37;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-right: -10000px;
	position: relative;
}

#u3466-4
{
	z-index: 41;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-right: -10000px;
	position: relative;
}

#u2911-4
{
	z-index: 45;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-right: -10000px;
	position: relative;
}

#u2920-4
{
	z-index: 49;
	width: 340px;
	min-height: 22px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	font-weight: 500;
	margin-right: -10000px;
	position: relative;
}

#u1903-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 484px;
	left: 1826px;
}

#u1903-4popup
{
	z-index: 53;
}

#u1887-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 484px;
	left: 1903px;
}

#u1887-4popup
{
	z-index: 57;
}

#u1879-4
{
	position: absolute;
	width: 70px;
	min-height: 30px;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 500;
	top: 484px;
	left: 1848px;
}

#u1879-4popup
{
	z-index: 61;
}

#u1888
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -101px;
	left: 1947px;
}

#u1888:hover
{
	background-color: #999999;
	margin: 0px;
}

#u1888:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u1889-4
{
	z-index: 66;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u2562-5
{
	z-index: 2;
	width: 76px;
	min-height: 27px;
	margin-left: 22px;
	margin-top: 21px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

